.container{
	max-width: 679px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.pagination ul{
	display: flex;
	padding: 8px;

}
.pagination ul li{
	list-style: none;
	line-height: 45px;
	text-align: center;
	font-size: 12px;
	font-weight: 500;
	cursor: pointer;
}
.pagination ul li.numb{
	height: 45px;
	width: 45px;
}
.pagination ul li.btn{
	background-color: #F7F7F7;
	height: 45px;
	width: 45px;
	border-radius: 10px;
}